#footer {
    background-color: black;
    height: 70px;
    color: rgb(202, 202, 202);
    flex: 1;
    bottom: 0;
}

#brand {
    padding-top: 27.5px;
    padding-left: 2%;
    font-size: 15px;
    font-weight: 500;
}