.listingDiv:hover{
    box-shadow: 0 0 3px 3px #f6f6f6;
}

.listingDiv {
    padding: 5% 5% 5% 5%;
    border-radius: 3px;
    border: 1px solid #ececec;
    text-decoration: none;
    color: black;
}

#name {
    font-size: 15px;
    font-weight: 600;
}

#rating {
    font-size: 15px;
    font-weight: 400;
}

.searchListingLink {
    text-decoration: none;
}