img {
    width: 100%;
}

#storeInfo {
    padding: .5rem .5rem;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}   

#reviews {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}   

#storeName {
    font-weight: 500;
    font-size: 30px;
}

#location {
    font-size: 20px;
}

.hours {
    font-size: 14px;
    margin: 0 0 2% 0;
}


