/* Store information div*/
#storeInfoDiv {
    padding: .5rem .5rem;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#info {
    margin-bottom: 1%;
}

/* Store reviews at bottom of page */
#reviews {
    margin-top: 5vh;
    margin-right: 15%;
    margin-left: 15%;
}   

/* Store name styling */
#storeName {
    font-weight: 500;
    font-size: 30px;
}

/* Store's average rating styling */
#averageRating {
    font-size: 16px;
}

/* Store hours styling */
.hours {
    font-size: 14px;
    margin: 0 0 2% 0;
}

#businessImg {
    max-width: 100%;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    /* Space between the store info and map */
    #info {
        margin-bottom: 5%;
    }
    #reviews {
        margin-top: 2vh;
    }       
  }