#homePageTitleDiv {
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#homePageSearchDiv {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    align-self: flex-start;
}

#homePageTitleDiv {
    text-align: center;
}

.homePageTitleTxt {
    font-size: max(4vw, 32px);
}

#searchDropDownDiv{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#scoopsImg {
    width: 40%;
    margin: 2% auto;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #scoopsImg {
        width: 60%;
        margin: 10% auto;
        text-align: center;
    }
  }

