#searchResultsDiv {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin: 1% 15% 5% 15%;
}

<<<<<<< HEAD
#resultsDiv {
    margin-right: 5%;
    width: 55%;
    margin-bottom: 5%;
=======
#results {
    margin: 0 0 0 15%;
>>>>>>> 280de481ad452c2a2c374f4ee01da9543513799f
}

#listingsDiv {
    margin-right: 5%;
    width: 55%;
}

#searchPageSearchBarDiv {
    margin: 3% 0 3% 0;
}

.h1 {
    font-size: 14px;
}

/* On screens that are 1064px or less */
@media screen and (max-width: 1064px) {
    #searchResultsDiv {
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        margin: 0 15% 5% 15%;
    }

<<<<<<< HEAD
    #resultsDiv {
        width: 100%;
=======
    #listingsDiv {
        width: 100%;
        margin-bottom: 5%;
>>>>>>> 280de481ad452c2a2c374f4ee01da9543513799f
    }

    #mainMap {
        width: 100%;
        height: auto;
    }
  }