#searchResults {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 5% 5% 5%;
}

#results {
    width: 55%;
}

#searchPageSearchBarDiv {
    margin: 3% 0 3% 0;
}

#mainMap {
    width: 40%;
}