#searchResultsDiv {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 15% 5% 15%;
}

#resultsDiv {
    width: 55%;
}

#searchPageSearchBarDiv {
    margin: 3% 0 3% 0;
}

#mainMap {
    width: 40%;
}

.h1 {
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    #searchResultsDiv {
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        margin: 0 15% 5% 15%;
    }
    #resultsDiv {
        width: 100%;
    }
    #mainMap {
        margin-top: 5%;
        width: 100%;
    }
  }