/* Search section styling */

#homePageSearchDiv {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    align-self: flex-start;
}

#searchOptionsDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%;
}

#searchOptionsDiv > * {
    margin-right: 25px;
    margin-left: 25px;
}

/* Scoops home page title section styling */

#homePageTitleDiv {
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

#homePageTitleDiv {
    text-align: center;
}

#bannerImgDiv {
    margin: auto;
    text-align: center;
}

#bannerImg {
    width: 60%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

#bottomBannerDiv {
    margin-top: 10%;
    margin-bottom: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.searchOption {
    width: 160px;
}

/* On screens that are 600px or less, adjust title/slogan image styling */
@media screen and (max-width: 600px) {
    #scoopsImgDiv {
        margin: 10% auto;
        text-align: center;
    }

    #scoopsImg {
        width: 95%;
        height: auto;
    }

    #searchOptionsDiv{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2%;
        align-items: center;
    }

    .searchOption {
        margin-top: 15px;   
    }
    
  }

