#addBusinessFormDiv {
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
}

#addBusinessPageTitleDiv {
    margin-bottom: 2.5%;
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* Disable increment and decrement arrows on number text inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}