.App {
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/background-3.png");
  background-repeat: "repeat-y";
  background-size: 100% auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  min-height: 100vh;
}

.wrapper > * {
  flex: 1 100%;
}

